@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    height: 100dvh;
    overflow: hidden;
}

.form {
    @apply p-4 mt-5 w-[calc(100%-20px)] md:w-1/2 rounded-lg flex flex-col gap-y-4 bg-white
}

.form label input{
    @apply bg-purple-50 p-1 outline-none border-transparent focus:border-b-red-500
}

.form label {
    @apply flex flex-col
}

.auth-nav a {
    @apply p-3 hover:bg-cyan-200
}
